<footer class="footer mt-auto py-4 bg-dark text-white-50 border-top border-secondary">
    <div class="container mt-auto">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-end mb-3 mb-md-0">
                <span class="mx-1">&copy;</span>
                <span>2026 - جميع الحقوق محفوظة</span>
            </div>

            <div class="col-md-6 text-center text-md-start">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="/about" class="text-white-50 text-decoration-none px-2">عن التطبيق</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/contact" class="text-white-50 text-decoration-none px-2">تواصل معنا</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/privacy" class="text-white-50 text-decoration-none px-2">الخصوصية</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>